<div class="body">
  <div class="container">
  	<% if flash[:notice] %>
      <div class="flash">
  	    <%= flash[:notice] %>
      </div>
    <% end %>

    <h1>ようこそ <strong>Bookers</strong> へ!</h1>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        <p>CopyRight Inratop.inc</p>
      </div>
    </div>
  </div>
</footer>